fastapi==0.135.1
uvicorn[standard]
python-multipart==0.0.22
web3==7.14.1
eth-account==0.13.7
SQLAlchemy==2.0.48
pydantic==2.12.5
pydantic-settings==2.13.1
PyJWT==2.12.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
hvac
python-dotenv==1.2.2
httpx==0.28.1
slowapi==0.1.9
sentry-sdk==2.54.0
pwdlib[argon2]



